In [2]:
import pandas as pd

In [12]:
rankings = pd.read_csv('./prepared_data/scoring_3_10_2015.csv')

In [15]:
rankings.head()

  Rank             Name    GM   W-L     PTS   PPG  OPP PTS  OPP PPG  SCR MAR
0    1         Kentucky  31.0  31-0  2314.0  74.6   1656.0     53.4     21.2
1    2          Gonzaga  34.0  32-2  2690.0  79.1   2071.0     60.9     18.2
2    3          Arizona  31.0  28-3  2376.0  76.6   1826.0     58.9     17.7
3    4        Wisconsin  31.0  28-3  2222.0  71.7   1728.0     55.7     15.9
4    5  Sam Houston St.  31.0  24-7  2295.0  74.0   1809.0     58.4     15.7

In [14]:
rankings.tail()

,Rank,Name,GM,W-L,PTS,PPG,OPP PTS,OPP PPG,SCR MAR
347,NR,Northern Ky.,30.0,13-17,2117.0,70.6,2079.0,69.3,1.3
348,NR,Grand Canyon,31.0,17-14,2128.0,68.6,2113.0,68.2,0.5
349,NR,Omaha,29.0,12-17,2226.0,76.8,2256.0,77.8,-1.0
350,NR,UMass Lowell,29.0,12-17,1780.0,61.4,1928.0,66.5,-5.1
351,NR,Abilene Christian,31.0,10-21,1976.0,63.7,2186.0,70.5,-6.8

Their are unranked teams we will have to figure out how to deal with them

In [17]:
players_test = pd.read_csv('./raw_data/player.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 4: invalid continuation byte