In [2]:
import pandas as pd

In [33]:
rankings_2014 = pd.read_csv('./prepared_data/scoring_3_10_2015.csv')

## Season Ranking 2014

In [34]:
rankings_2014.head()

  Rank             Name    GM   W-L     PTS   PPG  OPP PTS  OPP PPG  SCR MAR
0    1         Kentucky  31.0  31-0  2314.0  74.6   1656.0     53.4     21.2
1    2          Gonzaga  34.0  32-2  2690.0  79.1   2071.0     60.9     18.2
2    3          Arizona  31.0  28-3  2376.0  76.6   1826.0     58.9     17.7
3    4        Wisconsin  31.0  28-3  2222.0  71.7   1728.0     55.7     15.9
4    5  Sam Houston St.  31.0  24-7  2295.0  74.0   1809.0     58.4     15.7

In [35]:
rankings_2014.tail()

,Rank,Name,GM,W-L,PTS,PPG,OPP PTS,OPP PPG,SCR MAR
347,NR,Northern Ky.,30.0,13-17,2117.0,70.6,2079.0,69.3,1.3
348,NR,Grand Canyon,31.0,17-14,2128.0,68.6,2113.0,68.2,0.5
349,NR,Omaha,29.0,12-17,2226.0,76.8,2256.0,77.8,-1.0
350,NR,UMass Lowell,29.0,12-17,1780.0,61.4,1928.0,66.5,-5.1
351,NR,Abilene Christian,31.0,10-21,1976.0,63.7,2186.0,70.5,-6.8

Their are unranked teams we will have to figure out how to deal with them.

## Joined Season and results 2014

In [36]:
results_test = pd.read_csv('./raw_data/final_results.csv')
finals_2014 = results_test.loc[finals_2014['year']==2014, :]
features_and_labels = pd.merge(results_test, rankings_2014, how='left', left_on=['Team'], right_on=['Name'])
features_and_labels = pd.merge(features_and_labels, rankings_2014, how='left', left_on=['Team.1'], right_on=['Name'], suffixes=('', '_t2'))
features_and_labels.head(10)

NameError: name 'finals_2014' is not defined

In [20]:
results_test

,Year,Round,Region Number,Region Name,Seed,Score,Team,Team.1,Score.1,Seed.1
0,1985,1,1,West,1,83,St Johns,Southern,59,16
1,1985,1,1,West,2,81,VCU,Marshall,65,15
2,1985,1,1,West,3,65,NC State,Nevada,56,14
3,1985,1,1,West,4,85,UNLV,San Diego St,80,13
4,1985,1,1,West,5,58,Washington,Kentucky,65,12
5,1985,1,1,West,6,75,Tulsa,UTEP,79,11
6,1985,1,1,West,7,50,Alabama,Arizona,41,10
7,1985,1,1,West,8,54,Iowa,Arkansas,63,9
8,1985,1,2,East,1,68,Georgetown,Lehigh,43,16
9,1985,1,2,East,2,65,Georgia Tech,Mercer,58,15
10,1985,1,2,East,3,76,Illinois,Northeastern,57,14
11,1985,1,2,East,4,59,Loyola Illinois,Iona,58,13
12,1985,1,2,East,5,85,SMU,Old Dominion,68,12
13,1985,1,2,East,6,67,Georgia,Wichita St,59,11
14,1985,1,2,East,7,70,Syracuse,DePaul,65,10
15,1985,1,2,East,8,60,Temple,Virginia Tech,57,9
16,1985,1,3,Midwest,1,96,Oklahoma,North Carolina A&T,83,16
17,1985,1,3,Midwest,2,67,Memphis,Pennsylvania,55,15
18,1985,1,3,Midwest,3,75,Duke,Pepperdine,62,14
19,1985,1,3,Midwest,4,75,Ohio St,Iowa St,64,13
20,1985,1,3,Midwest,5,78,Louisiana Tech,Pittsburgh,54,12
21,1985,1,3,Midwest,6,53,Texas Tech,Boston College,55,11
22,1985,1,3,Midwest,7,70,UAB,Michigan St,68,10
23,1985,1,3,Midwest,8,55,USC,Illinois St,58,9
24,1985,1,4,Southeast,1,59,Michigan,Fairleigh Dickinson,55,16
25,1985,1,4,Southeast,2,76,North Carolina,Middle Tennessee St,57,15
26,1985,1,4,Southeast,3,49,Kansas,Ohio,38,14
27,1985,1,4,Southeast,4,55,LSU,Navy,78,13
28,1985,1,4,Southeast,5,69,Maryland,Miami Ohio,68,12
29,1985,1,4,Southeast,6,58,Purdue,Auburn,59,11
...,...,...,...,...,...,...,...,...,...,...
2112,2018,2,1,South,2,73,Cincinnati,Nevada,75,7
2113,2018,2,1,South,3,62,Tennessee,Loyola Chicago,63,11
2114,2018,2,1,South,13,75,Buffalo,Kentucky,95,5
2115,2018,2,2,West,1,70,Xavier,Florida St,75,9
2116,2018,2,2,West,2,65,North Carolina,Texas A&M,86,7
2117,2018,2,2,West,3,64,Michigan,Houston,63,6
2118,2018,2,2,West,4,90,Gonzaga,Ohio St,84,5
2119,2018,2,3,East,1,81,Villanova,Alabama,58,9
2120,2018,2,3,East,2,76,Purdue,Butler,73,10
2121,2018,2,3,East,3,69,Texas Tech,Florida,66,6
2122,2018,2,3,East,13,71,Marshall,West Virginia,94,5
2123,2018,2,4,Midwest,1,83,Kansas,Seton Hall,79,8
2124,2018,2,4,Midwest,2,87,Duke,Rhode Island,62,7
2125,2018,2,4,Midwest,3,53,Michigan St,Syracuse,55,11
2126,2018,2,4,Midwest,4,53,Auburn,Clemson,84,5
2127,2018,3,1,South,9,61,Kansas St,Kentucky,58,5
2128,2018,3,1,South,7,68,Nevada,Loyola Chicago,69,11
2129,2018,3,2,West,9,75,Florida St,Gonzaga,60,4
2130,2018,3,2,West,7,72,Texas A&M,Michigan,99,3
2131,2018,3,3,East,1,90,Villanova,West Virginia,78,5
2132,2018,3,3,East,2,65,Purdue,Texas Tech,78,3
2133,2018,3,4,Midwest,1,80,Kansas,Clemson,76,5
2134,2018,3,4,Midwest,2,69,Duke,Syracuse,65,11
2135,2018,4,1,South,9,62,Kansas St,Loyola Chicago,78,11
2136,2018,4,2,West,9,54,Florida St,Michigan,58,3
2137,2018,4,3,East,1,71,Villanova,Texas Tech,59,3
2138,2018,4,4,Midwest,1,85,Kansas,Duke,81,2
2139,2018,5,1,Final Four,11,57,Loyola Chicago,Michigan,69,3
2140,2018,5,2,Final Four,1,95,Villanova,Kansas,79,1
2141,2018,6,1,Championship,3,62,Michigan,Villanova,79,1